<app-nav></app-nav>

<div class="container">
  <div class="profile z-depth-5 row">
    <div class="image col l3 m6 s12">
      <h5>Photo</h5>
      <div class="divider"></div>
      <mat-card>
        <img class="no-bottom" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
        <mat-card-actions class="row">
          <input type="file" id="file" hidden>
          <label class="btn-small col s10 offset-s1" for="file">
            Upload new Photo
          </label>
        </mat-card-actions>
      </mat-card>
    </div>

    <div class="info col l6 m6 s12">
      <h5>Info</h5>
      <div class="divider"></div>
      <ul class="info-list">
        <li><strong>First Name:</strong> {{ profileInfo.name }}</li>
        <li><strong>Last Name:</strong> {{ profileInfo.lastName }}</li>
        <li><strong>E-mail address:</strong> {{ profileInfo.email }}</li>
        <li><strong>Last login:</strong> {{ lastLogin }}</li>
      </ul>
    </div>

    <div class="action col l3 m6 s12">
      <h5>Actions</h5>
      <div class="divider"></div>
      <div class="actions-buttons row">
        <button class="btn col s10 offset-s1" type="button">edit profile</button>
        <button class="btn col s10 offset-s1 orange lighten-3" type="button" (click)="goBack()">Back</button>
      </div>
    </div>
  </div>
</div>