.profile {
  padding: 1em;
}

.profile div.divider {
  margin-bottom: 1em;
}

.no-bottom {
  margin-bottom: 0;
}

ul.info-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}
ul.readonly li {
  display: flex;
  justify-content: space-between;
  width: 55%;
}

ul.info-list li button {
  transform: scale(0.95);
}

.actions-buttons button {
  margin-bottom: 1em;
}

.hidden {
  visibility: hidden;
}

.active {
  background: rgba(0, 0, 0, 0.1);
}