<div class="content-wrapper" *ngIf="popup.popupConfig.popup">
  <div class="popup">

    <div class="income-add slideDown" *ngIf="popup.popupConfig.incomeAdd">
      <app-calculator (closeCalc)="popup.incomeAddToggle()" (done)="incomeAddDone($event)"></app-calculator>
    </div>

    <div class="income-distribute slideDown" *ngIf="popup.popupConfig.incomeDistribute.opened">
      <app-calculator (closeCalc)="popup.closeSavingPopup()" (done)="distributeDone($event)"></app-calculator>
    </div>

    <div class="income-edit card grey lighten-4 slideDown" *ngIf="popup.popupConfig.incomeEdit">
      <span class="card-title">Title</span>
      <div class="card-content">
        <p>Coming soon...</p>
      </div>
      <div class="buttons card-action row">
        <button class="btn col s3" (click)="popup.incomeEditToggle()">Ok</button>
        <button class="btn orange lighten-3  col s3 offset-s6" (click)="popup.incomeEditToggle()">Cancel</button>
      </div>
    </div>

    <div class="saving-spend card grey lighten-4 slideDown" *ngIf="popup.popupConfig.saving.opened">
      <span class="card-title">Title</span>
      <div class="card-content">
        <p>Coming soon...</p>
      </div>
      <div class="buttons card-action row">
        <button class="btn col s3" (click)="popup.closeSpendPopup()">Ok</button>
        <button class="btn orange lighten-3  col s3 offset-s6" (click)="popup.closeSpendPopup()">Cancel</button>
      </div>
    </div>

    <div class="create-saving slideDown" *ngIf="popup.popupConfig.createSavingCard">
      <app-create-card [title]="'Create saving category'" (cancel)="popup.savingCreateToogle()"
        (create)="createNewSaving($event)"></app-create-card>
    </div>

    <div class="create-spend slideDown" *ngIf="popup.popupConfig.createSpendCard">
      <app-create-card [title]="'Create spend category'" (cancel)="popup.spendCreateToogle()"
        (create)="createNewSpend($event)"></app-create-card>
    </div>

  </div>
</div>