<div class="content-wrapper" *ngIf="popup.popupConfig.popup">
  <div class="popup">

    <div class="income-add slideDown" *ngIf="popup.popupConfig.incomeAdd">
      <app-calculator (closeCalc)="popup.incomeAddToggle()" (done)="incomeAddDone($event)"></app-calculator>
    </div>

    <div class="income-distribute slideDown" *ngIf="popup.popupConfig.incomeDistribute.opened">
      <app-calculator (closeCalc)="popup.closeSavingPopup()" (done)="distributeDone($event)"></app-calculator>
    </div>

    <div class="income-edit slideDown" *ngIf="popup.popupConfig.incomeEdit">
      <app-edit (cancel)="popup.incomeEditToggle()" (save)="incomeEdit($event)"></app-edit>
    </div>

    <div class="saving-spend card grey lighten-4 slideDown" *ngIf="popup.popupConfig.saving.opened">
      <app-calculator (closeCalc)="popup.closeSpendPopup()" (done)="addSpend($event)"></app-calculator>
    </div>

    <div class="create-saving slideDown" *ngIf="popup.popupConfig.createSavingCard">
      <app-create-card [title]="'Create saving category'" (cancel)="popup.savingCreateToogle()"
        (create)="createNewSaving($event)"></app-create-card>
    </div>

    <div class="create-spend slideDown" *ngIf="popup.popupConfig.createSpendCard">
      <app-create-card [title]="'Create spend category'" (cancel)="popup.spendCreateToogle()"
        (create)="createNewSpend($event)"></app-create-card>
    </div>

  </div>
</div>