.content-wrapper {
  padding-top: 10%;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 2;
}

.popup {
  margin: 0 auto;
  min-width: 400px;
  max-width: 450px;
  width: 25%;
}
