<div class="nav-wrapper row">
  <nav class="z-depth-5 teal darken-1 col m1 center btn menu-btn" (click)="openSidenav()">
    <span class="material-icons menu-icon"> menu </span>
  </nav>

  <nav class="info z-depth-5 teal darken-1 col s12 m10 offset-m1">
    <div class="info-row">
      <div class="info-box">
        <span class="material-icons"> account_circle </span>
        <span class="data grey-text text-lighten-1">User: {{ dataService.authorizedUser.name }}
          {{ dataService.authorizedUser.lastName }}</span>
      </div>

      <div class="info-box">
        <span class="material-icons"> account_balance_wallet </span>
        <span class="data grey-text text-lighten-1">Balance:
          {{ dataService.authorizedUser.balance | currency:'UAH ':'symbol':'1.1-1' }}</span>
      </div>

      <div class="info-box">
        <span class="material-icons"> payments </span>
        <span class="data grey-text text-lighten-1">Expenses:
          {{ dataService.authorizedUser.expenses | currency:'UAH ':'symbol':'1.1-1' }}
        </span>
      </div>

      <div class="info-box">
        <span class="material-icons"> access_time </span>
        <span class="data grey-text text-lighten-1" id="time">00:00:00</span>
      </div>
    </div>

  </nav>

</div>

<mat-sidenav class="sidenav menu-sidenav grey lighten-2" mode="side" #drawer [opened]="isSideNavOpened">
  <div class="menu-sidenav-content">
    <div class="menu-sidenav-navbar">
      <ul class="menu-sidenav-navbar-list">
        <li class="grey-text text-darken-2 li" *ngFor="let elem of sideNavElements" [routerLink]="['/' + elem.name]"
          routerLinkActive="active">
          <span class="material-icons">
            {{ elem.image }}
          </span>
          {{ elem.name }}</li>
      </ul>
    </div>
    <div class="logout">
      <button class="btn logout-btn orange lighten-3" (click)="logout()">Logout</button>
    </div>
  </div>
</mat-sidenav>
<div class="black-screen" *ngIf="drawer.opened"></div>