.buttons button {
  margin-top: 1em;
}

.passwords {
  margin-bottom: 1em;
}

::ng-deep.red .mat-progress-bar-fill::after {
  background-color: #dd2c00;
}
::ng-deep.orange .mat-progress-bar-fill::after {
  background-color: #ff6d00;
}
::ng-deep.yellow .mat-progress-bar-fill::after {
  background-color: #ffd600;
}
::ng-deep.lime .mat-progress-bar-fill::after {
  background-color: #aeea00;
}
::ng-deep.green .mat-progress-bar-fill::after {
  background-color: #00c853;
}
