<mat-card-title>Enter and confirm a new password!</mat-card-title>
<div class="divider" style="margin-bottom: 1em;"></div>

<form class="row" [formGroup]="form">
  <mat-card-content>
    <mat-form-field class="col s12 passwords">
      <mat-label>New password</mat-label>
      <input class="browser-default password" type="password" matInput formControlName="password">
      <mat-error *ngIf="form.get('password').hasError('required')">Password is required!</mat-error>
      <mat-error *ngIf="form.get('password').hasError('passwordError')">
        The password must include both upper and lower case letters in Latin, min one number and symbol!
      </mat-error>
      <mat-error *ngIf="form.get('password').hasError('symbolError')">
        The password cannot include following symbols: @ ? *
      </mat-error>
    </mat-form-field>

    <mat-form-field class="col s12 passwords">
      <mat-label>Confirm password</mat-label>
      <input class="browser-default" type="password" matInput formControlName="confirmPassword">
      <mat-error *ngIf="form.get('confirmPassword').hasError('required')">Confirm password is required!</mat-error>
      <mat-error *ngIf="form.get('confirmPassword').hasError('passwordMatch')">Passwords need to match!</mat-error>
    </mat-form-field>

    <div class="progress-bar fadeIn" *ngIf="form.get('password').dirty">
      <span class="grey-text">Password strength:</span>
      <mat-progress-bar mode="determinate" [(value)]="progress" [ngClass]="{
        'red': progress <= 20,
        'orange': progress === 30,
        'yellow': progress === 50,
        'lime': progress === 70,
        'green': progress === 100
      }">
      </mat-progress-bar>
      <span *ngIf="progress > 0">
        <strong class="deep-orange-text text-accent-4" *ngIf="progress <= 20">Very low</strong>
        <strong class="orange-text text-accent-4" *ngIf="progress === 30">Low</strong>
        <strong class="yellow-text text-accent-4" *ngIf="progress === 50">Medium</strong>
        <strong class="lime-text text-accent-4" *ngIf="progress === 70">High</strong>
        <strong class="green-text text-accent-4" *ngIf="progress === 100">Very high</strong>
      </span>
    </div>

  </mat-card-content>

  <mat-card-footer class="row buttons">
    <button class="btn col s3 offset-s1" type="submit" [disabled]='form.invalid'
      [mat-dialog-close]="form.get('password').value">change</button>
    <button class="btn col s3 offset-s4 orange lighten-3" type="button" matDialogClose>cancel</button>
  </mat-card-footer>

</form>